html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.shopitem {
    height: 10rem;
    font-size: 2rem;
}
#shoppingArea {
    margin: 10px;
    border: 2px, solid, black;
    border-radius: 3px;
}